.header {
  display: flex;
  justify-content: center;
  background-color: var(--gray-800);
  padding: 0.5rem 0; /*20px*/
}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 4rem;
}


